CompileFlags:
  Add: [-std=c++2b,-Wall,-O3,-xc++-module,-I/home/novarc/viole-application/src,-I/home/novarc/viole-application/third_party/stdmodules/src,-stdlib=libc++,-fprebuilt-module-path=build/.gens/viole/linux/arm64-v8a/release/rules/modules/cache/fa597cf7/]
  Compiler: clang++
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: modernize*
    Remove: modernize-use-trailing-return-type
    CheckOptions:
      readability-identifier-naming.VariableCase: CamelCase
checks:
    - '*-clang-tidy'
InlayHints:
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  BlockEnd: No

